body {font-family: Arial, Helvetica, sans-serif;}

.zznote {
  position: fixed;
  bottom: 35px;
  right: 20px;
  margin-left: 20px;
  max-width: 350px;
}

.zznote .zzhead {
  padding: 12px 12px;
  background: #555;
  font-size: 22px;
  color: white;
}

.zznote-container {
  padding: 15px; background-color: #ccc;
}

.zznote button {
  padding: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #3870ff;
  color: white;
  border: 0;
}

.zznote button:hover {background-color: #2a63f7;}

.zznote span {
  position: absolute;
  top: 5px;
  right: 15px;
  color: white;
  font-size: 14px;
  cursor: pointer;
}

.closebtn:hover { color: lightgray; }