body {font-family: Arial, Helvetica, sans-serif;}

.zznote {
  position: fixed;
  bottom: 19px;
  right: 15px;
  margin-left: 19px;
  max-width: 370px;
}

.zznote .zzhead {
  padding: 9px 9px;
  background: #555;
  font-size: 21px;
  color: white;
}

.zznote-container { padding: 8px; background-color: #ccc; }

.zznote button {
  padding: 22px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #3870ff;
  color: white;
  border: 0;
}

.zznote button:hover {background-color: #2a63f7;}

.zznote span {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 14px;
  cursor: pointer;
}

.zznote a { border: 0; padding: 0;}
.closebtn:hover { color: lightgray; }
